page-home {
  .top{
    background-color: #f46529;
    color: #ffffff;
  }
  .good{
    background-color: #7687f1;
  }
  .share{
    background-color: #05c0ab;
  }
  .ask{
    background-color: #0ca9ea;
  }
  .bb{
    background-color: #fc8821;
  }
  .job{
    background-color: #78bd43;
  }
}
