<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="showFilterbox()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button ion-only (click)="loadNewTopicPage()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let person of people">
      <ion-item (click)="openTopicDetail(person)">
        <ion-avatar item-left>
          <img src="{{person.author.avatar_url}}" alt="">
        </ion-avatar>
        <h2>{{person.title}}</h2>
        <p>
          <ion-badge color="secondary" *ngIf="person.top && person.tab === 'share'">置顶</ion-badge>
          <ion-badge color="settingIcon" *ngIf="!person.top && person.good">精华</ion-badge>
          <ion-badge color="#e59f49" *ngIf="!person.good && !person.top && person.tab === 'share'">分享</ion-badge>
          <ion-badge color="#387ef5" *ngIf="!person.top && person.tab === 'ask'">问答</ion-badge>
          <ion-badge color="#e59f49" *ngIf="!person.top && person.tab === 'job'">招聘</ion-badge>
          <ion-badge color="#e59f49" *ngIf="!person.top && person.tab === 'bb'">吐槽</ion-badge>
          {{person.author.loginname}}
          <!--2015-05-22T12:26:02.597Z-->
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
        <button ion-button color="secondary">
        <ion-icon name="call"></ion-icon>
        Call
      </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>