page-topic-detail {
  .list-ios > .item-block:last-child, .list-ios > .item-block:last-child{
    border: none;
  }
    .vimeo[side=top]{
    right: 50px;
    top:-135px;
    flex-direction: column-reverse;
  }
  .twitter[side=right]{
    margin-top: -82px;
    margin-bottom: 0;
    margin-left: 6px;
    margin-right: 0;
  }
  .googleplus[side=left]{
    margin-top: -33px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 88px;
  }
  .facebook{
    right: 80px;
    top:-48px;
  }
}
